* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.header__web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__image__hero {
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 155px;
}

.header__nav {
    display: flex;
    position: block;
    bottom: 0;
    margin: 10px 0 13px 0;
    justify-content: center;
    align-items: center;
}

.header__nav__list {
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header__nav__item {
    position: relative;
    display: inline;
    font-size: 16px;
}

.link__blog,
.link__contact {
    color: #4a4a4a;
}

.logo__adalab {
    width: 155px;
}

.section__first {
    background: #3CDBC0;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;

}

.section__title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}